body {
  padding-top: 5rem;
}
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  border: 1px solid #c1ced7;
  margin-top: -1px;
}

.post-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  border: 1px solid #c1ced7;
  margin-top: -1px;
}

.comment-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  border: 1px solid #c1ced7;
  margin-top: -1px;
}
